[submodule "libs/matrix"]
	path = libs/matrix
	url = https://github.com/hzeller/rpi-rgb-led-matrix.git
[submodule "libs/influxdb-cpp"]
	path = libs/influxdb-cpp
	url = https://github.com/orca-zhang/influxdb-cpp.git
[submodule "libs/rapidjson"]
	path = libs/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "libs/cppnetlib"]
	path = libs/cppnetlib
	url = https://github.com/cpp-netlib/cpp-netlib.git
